.button{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 6px 10px;
  margin-right: 16px;
  position: relative;
}

.button:hover{
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(227, 224, 224, 0.864); 
}

.text{
   color: rgb(104, 103, 103);
   font-weight: 500;
}